#navbarSupportedContent ul li{
  border-left: 1px solid #DCDCDC;
}

#navbarSupportedContent ul li :hover{
  background-color: #f3f3f3;
  text-decoration-line: none;
}

.newUser, .newCompany, .formEntry {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.notFound {
  width: 50%;
  height: 50%;
  margin: 100px auto;
}

.text-center{
  margin-top: 50px;
}